nav {

	font-size: 14px;
}

.dropdown {


	font-style: italic;
}

body {
background-image: url("resources/images/bodybackground.png");
}

.dws-menu *{
margin:0;
padding: 0;
}

header {
	margin: 200px;
	font-family: Cuprum; Arial;Helvetical;
}
